/*div.outer-nav {
    border:1px solid grey;
}
ul.nav {
    display:inline-block;
}

h2.nav-title {
    display:inline-block;
}

h2.nav-title a {
    text-decoration:none;
    color:black;
    margin-left:20px;
}

.nav-item {
    display:inline-block;
    margin-top:2%;
}
.nav-item a.active{
    color:white;
    background-color:black;
}
.nav-item a.active:hover {
    color:white;
    background-color:black;
}
.nav-item a:hover {
    color:white;
    background-color:grey;
}
.nav-item a{
    text-decoration:none;
    padding:28px 10px 21px 10px;
    margin-left:-5px;
    border:1px solid black;        
*/
li.nav-item a.active {
    color:white;
}
